.test {
  font-size: 2rem;
  font-weight: 700;
}

.main {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: auto;
  height: 100%;
}
.main > * {
  margin: 1rem;
}

.holder {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  padding-top: auto;
}

.text {
  width: 65%;
  height: 100%;
  background-color: #026873;
  padding: 8% 1rem 1rem 1rem;
  background-size: 13px 13px, 29px 29px, 37px 37px, 53px 53px;
  background-image: -webkit-linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    -webkit-linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-image: -moz-linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    -moz-linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    -moz-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    -moz-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-image: -ms-linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    -ms-linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    -ms-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    -ms-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0) 80%);
  background-image: -o-linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    -o-linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    -o-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    -o-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0) 80%);
  background-image: linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 80%
    ),
    linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0) 70%);
}

.error {
  color: red;
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
  .text {
    display: none;
    visibility: hidden;
    position: fixed;
  }
  .test {
    font-size: 2rem;
    font-weight: 700;
  }
}
